.two-column-layout{
    display: flex;

    .left-container{
        width: 20%;
        flex-grow:3;
    }
    .right-component{
        text-align: left;
        width: 79.9%;
        flex-grow:2;
    }
    .content-component{
        padding: 20px;
    }
}
//
.two-column-equal-layout{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}