.two-column-layout{
    display: flex;
    justify-content: space-between;
    .side-component{
        text-align: left;
        border: 2px solid;
        width: 77%;
        padding: 20px;
    }
}
//
.two-column-equal-layout{
    display: flex;
    justify-content: space-around;
}