.two-column-layout{
    display: flex;
    justify-content: space-between;
    .side-component{
        text-align: left;
        width: 79.9%;
    }
    .content-component{
        padding: 20px;
    }
}
//
.two-column-equal-layout{
    display: flex;
    justify-content: space-around;

    padding: 20px;
}