
.card-container{
    color: #fff;
    min-width: 250px;
}
.bgblue{
    background-color: #17A2B8;
    
}
.bggreen{
    background-color: #28A745;
    
}
.bgyellow{
    background-color: #FFC107
}
.bgred{
    background-color: #DC3545
}