<div class="create-new-user-component">
  <div class="breadcrumbs">
    <ul>
      <li (click)="onClickBackUser()" class="cusrsor-pointer">User > </li>
      <li>Add User</li>
    </ul>
  </div>
  <form [formGroup]="userPofileForm" (ngSubmit)="addNewUser(userPofileForm)">
    <div>
      <label>
        Name:
        <input formControlName="name" placeholder="Your name">
      </label>
    </div>
    <div>
      <label>
        Email:
        <input formControlName="email" type="email" placeholder="Your email">
      </label>
    </div>
    <div>
      <label>
        Password:
        <input formControlName="password" type="password" placeholder="Your message">
      </label>
    </div>
    <button type="submit"mat-raised-button color="primary" >Add </button>
  </form>
      
</div>
