<div class="navigation-menu">
  <div class="logo">
    <img src="https://placehold.co/100"/>
  </div>
  <div class="user-info">
    <div>
     <img src="https://placehold.co/50"/>
      <span>User Name</span>
    </div>
  </div>
  <div class="search-bar">
    <input type="text">
  </div>
  <div class="navigation-list">
    <ul>
      <!-- TO DO: menu list come from  -->
      <li routerLink="/dashboard" *ngIf="isSuperAdmin">Dashboard</li>
      <li routerLink="/user/list">Admin User Management
        <ul>
          <li routerLink="/user/list">
            User
          </li>
          <li routerLink="/role/list">
            Roles 
          </li>
          <li>
            Permission
          </li>
        </ul>
      </li>

      <li routerLink="/restaurant/list">
        Restaurant Managers 
        <ul>
          <li>
            Groups
          </li>
          <li routerLink="/restaurant/list">
            Restaurant
          </li>
          <li routerLink="/outlet/list">
            Outlet
          </li>
        </ul>
      </li>
      <li>Dashboard</li>
    </ul>

  </div>
</div>